@use './../../scss/' as *;

.introduction{
    position: relative;
    &-text{
        max-width: 667px;
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translateY(-50%);
        
        h1{
            text-transform: uppercase;
            font-size: 50px;
            color: $white;
            font-weight: 800;
            letter-spacing: 5px;
            margin-bottom: 59px;
        }
        p{
            font-size: 20px;
            line-height: 1.75;
            color: $white;
        }
    }
}

@media (max-width: 1023px) {
    .introduction{
        background-image: url('./../../assets/img/introduction-bg@2x.png');
        background-size: cover;
        min-height: 300px;
        img{
            display: none;
        }
    }
}

@media (max-width: 736px) {
    .introduction{
        img{
            display: none;
        }
        &-text{
            h1{
                font-size: 30px;
                margin-bottom: 29px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 667px) {
    .introduction{
        background-image: url('./../../assets/img/introduction-bg@2x.png');
        background-size: cover;
        min-height: 200px;
        img{
            display: none;
        }
        &-text{
            width: 80%;
            left: 6%;
            h1{
                font-size: 20px;
                margin-bottom: 21px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}