@use "./../../scss/" as *;

.button {
  width: 199px;
  height: 60px;
  border: solid 3px $dark-maroon;
  background-color: $white;

  &-text {
    font-size: 23px;
    font-weight: 800;
    color: $black-three;
    text-transform: uppercase;
  }
}
