@use "./../../scss/" as *;

.brand {
  background-color: $cerulean;
  padding: 150px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &-header {
    width: 682px;
    text-align: center;
    margin: auto;
    h1 {
      font-size: 45px;
      font-weight: bold;
      color: $sun-yellow;
      margin-bottom: 40px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    &-desc {
      font-size: 16px;
      font-weight: 300;
      color: $sun-yellow;
      margin-bottom: 77px;
      font-family: $font-kr;
    }
  }
  &-story {
    width: 1254px;
    margin: 77px auto 0;
    z-index: 1;
    img {
      margin: auto;
      height: auto;
    }
    &-text {
      max-width: 100%;
      width: 30%;
      position: absolute;
      top: 63%;
      left: 66%;
      transform: translate(-50%, -50%);

      &-content {
        h2 {
          font-size: 25px;
          font-weight: 800;
          text-transform: uppercase;
          color: $black-three;
          margin-bottom: 39px;
        }
        &-desc {
          font-size: 16px;
          font-weight: 300;
          color: $black-three;
          margin-bottom: 47px;
        font-family: $font-kr;

        }
      }
    }
  }
  .object1 {
    position: absolute;
    z-index: -1;
    top: 23%;
    left: 8%;
  }
  .object2 {
    position: absolute;
    z-index: -1;
    top: 7%;
    right: 13.5%;
  }
  .object3 {
    position: absolute;
    z-index: -1;
    top: 10%;
    right: 9%;
  }
  .object4 {
    position: absolute;
    z-index: -1;
    right: -4.5%;
    top: 24%;
  }
  .object5 {
    position: absolute;
    z-index: -1;
    right: -1.4%;
    top: 60%;
  }
  .object6 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 48%;
  }
  .object7 {
    position: absolute;
    z-index: -1;
    top: 56.5%;
    left: 10%;
  }

  .line {
    width: 100%;
    height: 4px;
    background-color: black;
    position: absolute;
    left: 10%;
    bottom: 19%;
    z-index: -2;
  }
}
@media (max-width: 1600px) {
  .brand-story-text {
    width: 36%;
    left: 70%;
  }
}

@media (max-width: 1440px) {
  .brand-story {
    width: 1060px;
    margin: 40px auto 0;
    &-text {
      width: 34%;
      left: 68%;

      &-content {
        h2 {
          margin-bottom: 18px;
        }
        &-desc {
          margin-bottom: 27px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .brand {
    padding: 112px 0;

    .object2,
    .object1,
    .object3 {
      width: 10%;
    }

    .object4 {
      width: 22%;
      right: -11%;
    }
    .object5 {
      width: 20%;
      bottom: 6%;
      right: -14%;
    }
    .object6 {
      width: 16%;
      left: -3%;
    }
    .object7 {
      display: none;
    }
    &-story {
      width: 926px;
      margin: 40px auto 0;
      &-text {
        width: 38%;
        top: 66%;
        left: 70%;

        &-content {
          h2 {
            font-size: 20px;
            margin-bottom: 25px;
          }
          &-desc {
            font-size: 14px;
            margin-bottom: 28px;
          }
        }
      }
    }
  }
}


@media (max-width: 1023px) {
  .brand-story{
    &-text{
      top: 68%;
    }
  }
}

@media (max-width: 991px) {
  .brand-story {
    width: 710px;
    margin: 40px auto 0;
    &-text {
      width: 33%;
      left: 68%;

      &-content {
        h2 {
          margin-bottom: 20px;
          font-size: 16px;
        }
        &-desc {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 736px) {
  .brand {
    padding: 60px 0;

    &-header {
      width: 80%;
      h1 {
        font-size: 25px;
        margin-bottom: 20px;
      }
      p {
        font-size: 10px;
        margin-bottom: 40px;
      }
    }
    &-story {
      width: 640px;
      margin: 40px auto 0;
      &-text {
        width: 40%;
        left: 73%;
        top: 70%;
        &-content {
          h2 {
            font-size: 8px;
            margin-bottom: 7px;
          }
          &-desc {
            font-size: 10px;
            margin-bottom: 16px;
          }
          .button {
            width: 90px;
            height: 27px;
          }
          p {
            font-size: 9px;
          }
        }
      }
    }
  }
}

@media (max-width: 676.98px) {
  .brand-story {
    width: 550px;
    margin: 40px auto 0;
  }
}
@media (max-width: 575.98px) {
  .brand-story {
    width: 100%;
    margin: 40px auto 0;
    padding: 0 8px;
  }
}
