@use './../../scss/' as *;

.header{
    height: 80px;
    padding: 27px 97px;
    background: $black-two;

    &-content{
        @include flex(center, space-between);

        &-logo{
            img{
                width: 226px;
                height: 26px;
            }
        }

        &-menu{
            @include flex(center, space-between);
            .header-menu{
                @include flex(center, space-between);
                gap: 72px;
                &-item{
                    a{
                        color: $white;
                        text-transform: uppercase;
                        font-size: 14px;
                        transition: all 0.2s ease;
                        &:hover{
                            color: $bright-orange;
                        }
                    }
                }
            }
        }
        
        
    }
    &-line{
        width: 1px;
        height: 23px;
        margin: 0 44px 6px 57px;
        background-color: $pinkish-grey-two;
    }
}