@use './../../scss/' as *;


.footer{
    
    &-top{
        @include flex(none, space-between);
        margin-top: 50px;
        padding-bottom: 40px;
        padding-top: 51px;
        border-bottom: solid 1px $white-three;
        border-top: solid 1px $white-three;
        .footer-header{
            margin-bottom: 31px;
            font-size: 14px;
            color: $black-two;
            font-weight: bold;
        }
        .footer-menu{
            font-size: 14px;
            font-weight: 300;
            color: $black-two;
            &-item{
                a{
                    font-family: $font-kr;
                }
            }
        }
        &-left{
            width: 40%;
        }
        &-right{
            @include flex(none, space-between);
            width: 60%;

        }
    }

    &-bottom{
        @include flex(center, space-between);
        padding-top: 20px;
        &-left{
            width: 50%;
            p{
                font-size: 14px;
                font-weight: 300;
                color: $greyish;
            }
        }
        &-right{
            width: 50%;
            @include flex(center,flex-end);
            gap: 20px;
        }
    }
}


@media (max-width: 1023px) {
    .footer{
        &-top{
            flex-direction: column;
            align-items: center;
    
            &-left{
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
    
                .footer-header{
                    margin-bottom: 20px;
                }
                .footer-menu{
                    li{
                        margin-bottom: 6px;
                    }
                }
            }
            &-right{
                width: 100%;
                text-align: center;
            }
        }

        &-bottom{
            flex-direction: column;
            align-items: center;
            &-left{
                width: 100%;
            }
            &-right{
                justify-content: space-around;
            }

        }
    }
}