@use "./../../scss/" as *;

.best-product {
  padding-top: 100px;
  padding-bottom: 200px;
  &_content {
    position: relative;
    &-header {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        text-transform: uppercase;
        font-size: 50px;
        line-height: 1.2;
        letter-spacing: 5px;
        margin: 0 29px 49px;
        color: $bright-orange;
        font-weight: bold;
      }
      p {
        width: 665px;
        font-size: 20px;
        line-height: 1.6;
        color: $bright-orange;
      }
    }

    &-box {
      @include flex(center, space-between);
      margin-top: 54px;
      .box-item {
        position: relative;
        padding: 0;
        &-icon {
          position: absolute;
          top: -7%;
          left: 0;
          &-img {
            object-fit: contain;
          }
        }

        &-content {
          @include flex(center, space-between);
          width: 369px;
          height: 79px;
          padding: 7px 8px 6px 27px;
          border: solid 3px $dark-maroon;
          background-color: $white;

          position: absolute;
          bottom: -7%;
          left: 50%;
          transform: translateX(-50%);

          &-text {
            width: 200px;
            height: 60px;
            font-size: 20px;
            font-weight: 800;
            color: $black-three;
          }
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .best-product_content-box {
    .box-item-icon {
      width: 70px;
      top: -35px;
    }
    .box-item-content {
      width: 266px;
      bottom: -11%;
      padding: 7px 8px 6px 12px;

      &-text {
        font-size: 16px;
      }
      img {
        width: 48px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .best-product {
    padding-top: 50px;
  }
}

@media (max-width: 736px) {
  .best-product {
    padding-top: 17px;
    padding-bottom: 70px;
    &_content-header {
      h1 {
        font-size: 25px;
        margin-bottom: 6px;
        font-weight: 800;
      }
      p {
        font-size: 14px;
        width: 320px;
      }
    }
    &_content-box {
      .box-item-content {
        display: none;
      }
      .box-item-icon {
        width: 34%;
        top: -25px;
      }
    }
  }
}

@media (max-width: 568px) {
  .best-product_content-header {
    h1 {
      font-size: 18px;
    }
    p{
      font-size: 12px;
    }
  }
}
