@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
p{
  margin-bottom: 0;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  display: block;
  max-width: 100%;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-fluid {
  max-width: 1720px;
  margin: auto;
}
.container {
  max-width: 1568px;
  margin: auto;
}

.row {
  display: flex;
  margin-right: -8px;
  margin-left: -8px;
  flex-wrap: wrap;
}
.row-full {
  display: flex;
  flex-wrap: wrap;
}
.col {
  padding: 0 !important;
}
.col-5 {
  padding: 0 8px;
  width: 20%;
}


@media (max-width: 1199.98px) {
  .container{
    max-width: 960px;
    margin: auto;
  }
  .col-xl-25{
    width: 25%;
    padding: 0 8px;
  }
  
}

@media (max-width: 736px) {
  .row-full{
    display: flex;
    flex-direction: column;
  }
  .col-sm-1{
    width: 100%;
    padding: 0 8px;
  }
}