$font-en: "Montserrat", sans-serif;
$font-kr: "Noto Sans", sans-serif;

$black-two: #111111;
$black-three: #222222;
$white: #fff;
$white-three: #f4f4f4;
$bright-orange: #f96400;
$greyish: #a9a9a9;
$dark-brown: #110e03;
$black-two: #111111;
$pumpkin-orange: #fa7b26;
$cerulean: #0565bb;
$goldenrod: #fccb05;
$sun-yellow: #fcd32a;
$bright-orange-two:#ff5500;
$pinkish-grey-two: #ccc8c6;

$dark-maroon: #020001;