@use "./../../scss/" as *;

.video {
  padding-top: 148px;
  position: relative;
  padding-bottom: 392px;
  overflow: hidden;

  &-header {
    width: 682px;
    text-align: center;
    margin: auto;
    padding-bottom: 72px;
    h1 {
      font-size: 45px;
      font-weight: bold;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: 40px;
      color: $dark-brown;
    }
    &-desc {
      font-size: 16px;
      font-weight: 300;
      color: $dark-brown;
      margin-bottom: 55px;
    }
  }

  &-img {
    margin: auto;
    z-index: 1;
  }

  .videoObject1 {
    position: absolute;
    bottom: 8%;
    left: 17.5%;
    z-index: 1;
  }
  .videoObject3 {
    position: absolute;
    bottom: 18%;
    left: 11%;
    z-index: -1;
  }
  .videoObject4 {
    position: absolute;
    left: -17.5%;
    top: 23%;
  }
  .videoObject5 {
    position: absolute;
    top: 0%;
    left: 13%;
  }
  .videoObject6 {
    position: absolute;
    top: 18%;
    right: 12%;
    z-index: 1;
  }
  .videoObject7 {
    position: absolute;
    right: 6%;
    top: 10%;
    z-index: -1;
  }
  .videoObject8 {
    position: absolute;
    right: -11%;
    bottom: 14%;
    z-index: -1;
  }
  .videoObject9 {
    position: absolute;
    right: -9%;
    bottom: 38%;
    z-index: -2;
  }
}

@media (max-width: 1199px) {
  .video{
    .videoObject4{
      left: -42%;
      z-index: -1;
    }
    .videoObject3{
      left: 0%;
    }
    .videoObject1{
      left: 10%;
    }
    .videoObject6{
      width: 8%;
      top: 9%;
    }
    .videoObject7{
      width: 10%;
      top: 4%;
    }
    .videoObject8{
      right: -42%;
    }
  }
}

@media (max-width: 736px) {
  .video{
    padding-top: 80px;
    padding-bottom: 32px;
    &-header{
      width: 88%;
      padding-bottom: 60px;
      h1 {
        font-size: 18px;
        margin-bottom: 20px;
      }
      &-desc {
        margin-bottom: 20px;
        font-size: 14px;
      }
      .button {
        width: 120px;
        height: 39px;
      }
      p {
        font-size: 14px;
      }
    }


    .videoObject5{
      width: 13%;
    }
    .videoObject3, .videoObject4 , .videoObject1, .videoObject8, .videoObject9{
      display: none;
    }
  }
}